* {
	font-family: 'Roboto', 'calibri', sans-serif, sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 { margin: 0; line-height: 1em; }
hr {
	margin: 10px 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
::selection { background: rgba(0, 0, 0, 0.2); }

html {
	background: #620;
	background: linear-gradient(to right, #eee 0, #fff 50%, #eee 100%);
	text-align: center;
	padding: 0;
}
html, input, textarea, select {
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
body {
	/* max-width: 1400px;
	width: 90%;
	background: rgba(255, 255, 255, 0.5); */
	margin: auto;
	text-align: left;

	/*padding: 10px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	outline: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px #aab;*/
}

strong, .strong, .bold { font-weight: 400; }
.small { font-size: 80%; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.float-left { float: left; }
.float-right { float: right; }

.space { height: 4em; display: block; }
.space-bottom { margin-bottom: 4em; }
.small.space-bottom { margin-bottom: 2em; }
.pad { padding: 5px; }

.hint { font-size: 60%; line-height: 100%; opacity: 0.6; }
.hint.middle { line-height: 1.66667em; vertical-align: middle; }
.link { color: #4af; }
.no-link:hover { text-decoration: none; }
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }

header {
	padding: 15px;
	padding-bottom: 0;
	background: #46a;
	color: #fff;
	text-shadow: 0 1px 0 rgba(40, 60, 120, 0.8);
}
#logo {
	font-size: 120%;
	margin-left: 5px;
}
header hr {
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}
nav {
	display: block;
	color: rgba(0, 0, 0, 0.4);
	text-shadow: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border-bottom: 1px solid rgba(0, 20, 50, 0.3);
	box-sizing: content-box;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin: 0 -10px;
	padding: 0 5px;
	padding-top: 3px;
}
nav * { color: inherit; }
nav .nav {
	padding: 12px;
	text-align: center;
	display: inline-block;
	color: #fff;
	text-shadow: 0 1px 0 rgba(40, 60, 120, 0.8);
}
nav .nav.active {
	color: #acf;
}
nav .nav:hover {
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
}
@media (max-width: 800px) {
	nav { color: transparent !important; text-align: center; }
}
footer {
	display: block;
	font-size: 80%;
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
}
footer hr { max-width: 30%; margin: 10px auto; }
main {
	display: block;
	min-height: 10em;
	margin: 4em auto;
	width: 80%;
}
p, .paragraph { text-align: justify; }
h2, label { margin-bottom: 0.5em; font-size: 1.5em; }
ul, ol { text-align: left; padding-left: 1.5em; }
li { margin: 5px 0; }
dt { font-weight: 400; margin-top: 5px; }
dl { margin-bottom: 5px; }

#login {
	font-size: 60%;
	opacity: 0.8;
	float: right;
	text-align: right;
}
#login a { display: block; }
#login i { width: 1em; margin-left: 5px; }

#bios {
	text-align: center;
	max-width: 650px;
	margin: auto;
}
.bio {
	display: inline-table;
	text-decoration: none;
	color: inherit;
	text-align: center;
	min-width: 160px;
	padding: 20px;
}
bio:hover {
	background: rgba(0, 0, 0, 0.1);
}
.bio .img-container {
	display: block;
	max-width: 160px;
	height: 240px;
	line-height: 240px;
}
.bio img {
	max-width: 160px;
	max-height: 240px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	vertical-align: middle;
}

.risk-table {
  width: 80%;
  height: 20em;
  text-align: center;
  margin: auto;
}
.risk-table td {
	min-width: 3em;
}
.risk-table .ts {
	width: 15%;
}
.risk {
  color: #000;
  font-weight: 400;
  width: 20%;
}
.risk.good { background: #6c4; }
.risk.warning { background: #fe6; }
.risk.bad { background: #f64; }
.risk.unknown { background: #68f; }

.table-label-row {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

#popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
}
#popup {
	display: block;
	position: fixed;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	margin: auto;
	max-height: 400px;
	max-width: 800px;
	background: #ddd;
	padding: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	box-shadow: 0 0 10px #000;
	overflow: hidden;
}
#popup-title {
	margin-bottom: 0.5em;
}
#popup-image {
	float: right;
	max-width: 160px;
	max-height: 240px;
	margin-left: 20px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
#popup-body {
	display: block;
	text-align: justify;
	font-size: 1.2em;
	max-height: 280px;
	overflow: auto;
}
#popup-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 10px rgba(0, 0, 0, 0.2);
}
#popup-close {
	float: right;
	padding: 8px 16px;
	border: none;
	background: transparent;
	outline-left: 1px solid rgba(0, 0, 0, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	color: #fff;
	text-shadow: 0 1px 0 #000;
	font-size: 1em;
}
#popup-close:hover { text-shadow: 0 0 5px #fff; }
#popup-close:focus {
	outline: none;
	color: #adf;
}

ol.risk-list { counter-reset: risk-list-counter; list-style-type: none; }
ol.risk-list li::before {
	content: 'R' counter(risk-list-counter) ' \2013  ';
	counter-increment: risk-list-counter;
	font-weight: 400;
}
.risk-table {
	margin-bottom: 1em;
}

form {
	width: 50%;
	margin: 4em auto;
}
input, textarea {
	padding: 4px 8px;
	font-size: 1.2em;
	background: #fff;
	color: #000;
	border: none;
	width: 100%;
	display: block;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border: 1px solid transparent;
	margin-bottom: 1em;
}
input:focus, textarea:focus {
	outline: none;
	border: 1px solid rgba(128, 192, 255, 0.5);
}
textarea {
	height: 4em;
}
input[type='submit'] {
	background: #666;
	color: #fff;
	text-shadow: none;
	box-sizing: content-box;
}
.form-error {
	background: #f64;
	padding: 4px;
	color: #fff;
	text-shadow: none;
}
.presentation {
	display: inline-table;
	padding: 10px;
	margin: 5px;

	border: 1px solid rgba(255, 255, 255, 0.8);
	outline: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px #aab;
}
.presentation h3 {
	margin-bottom: 10px;
}
.presentation .description {
	max-width: 300px;
	margin: 10px 0;
	font-size: 90%;
}
.presentation .downloads {
	margin: 0 10px;
	font-size: 80%;
}
.presentation .downloads a { color: #4af; margin: 0 2px; text-decoration: none; }
.presentation .downloads a::before { content: '[ '; display: inline-block; margin-right: 2px; transition: 0.2s all; }
.presentation .downloads a::after { content: ' ]'; display: inline-block; margin-left: 2px; transition: 0.2s all; }
.presentation .downloads a:hover::before { margin-right: 5px; }
.presentation .downloads a:hover::after { margin-left: 5px; }